/build/PACKAGE.dir
/build/packages
/build/runtime
/build/SYNC_RESOURCE-HelloCpp.dir
/build/SYNC_RESOURCE-HelloCpp-axslc.dir
/build/ZERO_CHECK.dir
/build/ALL_BUILD.dir
/build/CMakeFiles
/build/engine
/build/CapsaSusun.dir
/build/INSTALL.dir
/build/x64
/build/.vs
/build/bin
/build/lib
/build/Debug
/proj.android/.idea
/proj.android/.gradle
/proj.android/app/.cxx
/proj.android/app/build
/proj.android/app/release
/build/Pop.dir/Debug
/build/CapsaSusun.dir/Debug
/Screenshot/*.mp4
